{
  "extends": "react-app",
  "plugins": ["json", "no-only-tests"],
  "rules": {
    "no-console": ["error", { "allow": ["debug", "error", "warn"] }],
    "default-case": "error",
    "no-unused-vars": "error",
    "eqeqeq": ["error", "always"],
    "no-magic-numbers": "error",
    "vars-on-top": "error",
    "max-params": ["error", 3],
    "max-nested-callbacks": ["error", 3],
    "no-unneeded-ternary": "error",
    "max-depth": ["error", 4],
    "no-only-tests/no-only-tests": "error"
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.spec.js"],
      "rules": {
        "no-magic-numbers": 0,
        "max-nested-callbacks": ["error", 4]
      }
    },
    {
      "files": ["src/server/routes/**/*.js"],
      "rules": {
        "max-params": ["error", 4]
      }
    }
  ]
}
